

.form {
    height: 180px;
    margin: 50px;
    padding: 50px;
    background-color: #2b2d42;
    border-radius: 20px;
    box-shadow: 2px 4px 15px 1px #2b2d42;
    
    
    
}

.label {
    /* width: 500px;
    display: block; */
    
   padding: 40px;
   font-family: minusculabold;
   color: #edf2f4;
}

.input {
    font-size: 1rem;
    margin-left: 10px;
    padding-left: 3px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: #d90429 solid 2px;
    color: #edf2f4;
    transition-property: all;
    transition-duration: 1s; }
    

    .input:hover {
        border-bottom: #d204d9 solid 2px; }

    .input:focus {
            background: linear-gradient(to bottom, transparent, #555b9869);
            border-bottom: #d204d9 solid 2px; }


.orderBtn {
    width: 500px;
    transition-property: all;
    transition-duration: 1s;
}

.orderBtn:hover {
    background-color:green ;
}